<div class="container">
  <header>
    <h1>Stock Trading App</h1>
    <div class="user-info">
      <span *ngIf="userIdentifier">Welcome, {{ userIdentifier }}</span>
      <button (click)="logout()" class="logout-btn">Logout</button>
    </div>
  </header>

  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>
  <div *ngIf="successMessage" class="alert alert-success">
    {{ successMessage }}
  </div>

  <div *ngIf="stockKeys.length > 0">
    <h2>Stock Prices</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Symbol</th>
          <th>Price</th>
          <th>Buy</th>
          <th>Sell</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let symbol of stockKeys">
          <td>{{ symbol }}</td>
          <td>{{ stockPrices[symbol] | currency }}</td>
          <td>
            <input type="number" #buyQuantity [value]="1" min="1">
            <button (click)="buyStock(symbol, +buyQuantity.value)">Buy</button>
          </td>
          <td>
            <input type="number" #sellQuantity [value]="1" min="1">
            <button class="sell" (click)="sellStock(symbol, +sellQuantity.value)" [disabled]="!portfolio.stocks[symbol] || portfolio.stocks[symbol] <=0">Sell</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="portfolioItems.length > 0">
    <h2>Your Portfolio</h2>
    <div>
      <p>Cash: {{ portfolio.cash | currency }}</p>
      <p>Total Portfolio Value: {{ calculateTotalPortfolioValue() | currency }}</p>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Symbol</th>
            <th>Quantity</th>
            <th>Current Price</th>
            <th>Avg Price</th>
            <th>Total Value</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of portfolioItems">
            <td>{{ item.symbol }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.currentPrice | currency }}</td>
            <td>{{ item.avgPrice | currency }}</td>
            <td>{{ calculateStockValue(item) | currency }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="transaction-history" >
    <h2>Transaction History</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Type</th>
          <th>Symbol</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of transactions">
          <td>{{ transaction.type | titlecase }}</td>
          <td>{{ transaction.symbol }}</td>
          <td>{{ transaction.quantity }}</td>
          <td>{{ transaction.price | currency }}</td>
          <td>{{ formatDate(transaction.timestamp) }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>